<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="Utils.Listnerz"/>
		<listener class-name="Utils.MyTransformer"/>
</listeners>

 <test thread-count="5" name="Flipkart-Regression">
  <classes>
      <class name="test.application.testPages.EtoETest"/>
      <class name="test.application.testPages.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
